---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import url(http://fonts.googleapis.com/css?family=Rock+Salt|Fira+Mono|Roboto:700,300);

/* 	Paletton -- color pallett
	http://paletton.com/palette.php?uid=42C0u0korllrMV7qFvIm-c0ks2N 
*/

// Our variables
$base-font-family: 'Roboto', Arial, sans-serif;
$title-font-family: 'Rock Salt';
$code-font-family:	'Fira Mono', Courier, monospace;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       	#7BFA21;
$background-color: 	#080D04;
$brand-color:      	#EF5915;
$title-color:		#407C16;

$grey-color:       #7BFA21;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 15%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
