* {
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  font-weight: 300; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  color: #f4e8d5;
  -webkit-font-smoothing: antialiased; }

a {
  color: #ead2ac; }
  a:visited {
    color: #d3a152; }
  a:active, a:hover {
    color: #f4e8d5; }

section {
  padding: 15% 45px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #4281a4;
  text-align: center; }
  section .content-frame {
    display: inline-block;
    margin: auto;
    text-align: center; }
    section .content-frame > * {
      display: inline-block; }
  section .logo {
    position: relative;
    top: -3px;
    z-index: 1;
    fill: #f4e8d5;
    margin-right: 55px; }
  section .text-frame {
    text-align: left; }
    section .text-frame .links {
      list-style: none;
      font-size: 18px; }
      section .text-frame .links a {
        text-decoration: none; }
      section .text-frame .links li {
        margin-bottom: 12px; }
      section .text-frame .links i {
        padding-right: 12px; }

footer {
  color: #f4e8d5;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px;
  text-align: center; }

small {
  font-size: 75%; }
