doctype html
head
  link(rel="stylesheet", type="text/css", href="css/style.css")
  script(type="text/javascript", src="js/main.js")
  title
    #{title}
  meta(charset="utf-8")
  meta(name="description", content="#{description}")
html(lang=en)
  body